
body {
  background-color: #f1f3f4;
  font-family: sans-serif;
}
//*eto naman yung sa header*//
  background-color: #e6e4e1;
  height: 80px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
  font-family: Impact;
  font-size: 50px;
  margin:auto;
}


aside{
float:left;}




.middle{
position: absolute;
top: 50%
left: 50%
transform: translate(-50%,-50%)
}

.navigation{
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
display: flex;
}

.bar{
width: 501px;
height: 10px;
border: 2px solid #000;
margin: 6px;
cursor: pointer;
transition: 0.4s;
}
.bar:hover{
background: #000;}

.column{
	float: left;
	width: 50px;
	padding: 0px 100px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}
.top-nav-bar{
  height: 57px;
  top: 0;
  position: sticky;
  background: #fff;
  margin-bottom: 20px;
  border-bottom: 3px solid orange;
  z-index: 2;
}
.logo{
  height: 40px;
  margin: 5px 1px;
}
.form-control{
  margin-top: 9px;
  margin-left: 30px;
  border: 1px solid orange ! important;
  border-top-left-radius: 20px ! important;
  border-bottom-left-radius: 20px! important;
  border-top-right-radius: 0 ! important;
  border-bottom-right-radius: 0 ! important;
  box-shadow: none ! important;
}
.input-group-text{
  background: orange;
  border: 5px solid orange ! important;
  margin: 8.5px 10px 3px 0 ! important;
  border-top-left-radius: 0px ! important;
  border-bottom-left-radius: 0px ! important;
  border-top-right-radius: 20px ! important;
  border-bottom-right-radius: 20px ! important;
  cursor: pointer;
}
.search-box{
  display: inline-flex;
  width: 60%;
  margin-left: 0%;
  margin-top: 0%;
}
fa-search{
  color: #fff;
}
.menu-bar{
  width: 40%;
  height: 57px;
  float: right;
}
.menu-bar ul{
  display: inline-flex;
  float: right;
}
.menu-bar ul li{
  border-left: 1px solid #fff;
  list-style-type: none;
  padding: 15px 35px;
  text-align: center;
  background-color: orange;
  cursor: pointer;
}
.menu-bar ul li a{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}
.fa-shopping-basket{
margin-right: 5px;
}
@media only screen and (max-width: 980px)
{
  .top-nav-bar
  {
    height: 118px;
    border-bottom: 1%;
  }
  .search-box
  {
    width: 100%;
  }
  .menu-bar
  {
    width: 100%;
  }
  .menu-bar ul
  {
    margin: 10px 0;
    width: 100%;
  }
  .menu-bar ul li
  {
    height: 57px;
    width: 100%;
  }
}
.container{
  width: 100%;
  margin-top: 10px;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.container h2{
  background: #0062cc;
  color: #fff;
  width:280px;
  height: 40px;
  font-size: 24px;
  padding: 5px;
  margin-top: 0;

}
.container h2::after
{
  content: '';
  border-top: 40px solid #0062cc;
  border-right: 40px solid transparent;
  position: relative;
  left: 62px;
  top: 34px;
}
.row{
  margin-top: 30px;
}
.container img{
  width: 100%;
  height: 270px;
}
.product-bottom .fa{
  color: #696969;
  font-size: 10px;
}
.product-bottom h3{
  color: #006400;
  font-size: 20px;
  font-weight: bold;
}
.product-bottom h5{
  font-size: 15px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #008080;
}
.overlay{
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-left: 0%;
  width: 70px;
}
.product-top .overlay:hover{
  opacity: 1;
  margin-left: 5%;
  transition: 0.1s;
}
.overlay .fa{
  cursor: pointer;
  background-color: #000000;
  color: #00BFFF;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin: 5%;
  margin-bottom: 10%;
}
.social_icon{
  cursor: pointer;
  width: 50%;
  height: 35px;
  padding: 7px;
  margin: 5%;
  margin-bottom: 0%;
}
.iconacc img{
  margin-top: 5px;
  margin-bottom: 0px;
  width: 35px;
  height: 32px;

}
.iconacc{
  padding-top: 0px;
  padding-left: 35%;
}
 //*eto yun e

css ng nav*//
ul{
float: top;
list-style-type: none;}
ul li {
display: inline-block}


ul li a{
text-decoration: none;
font-family: Arial;

color: #000;
padding: 1px 125px;
border: 1px solid #17526e;
border-color: #000;
transition: 0.9s ease;
}


ul li a:hover{
background-color:#17526e;

}


//*eto naman yung sa slider*//
#slider {
   margin: 0 auto;
   width: 90%;
   max-width: 100%;
   text-align: center;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 0;
   height: 300px;
}
#slides .slide {
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}
#slides .slide_1 {
   background-image:url("iphonebanner.png");
}
#slides .slide_2 {
   background-image:url("xiaomibanner.jpg");
}
#slides .slide_3 {
   background-image:url("samsungbanner.jpg");
}
#slides .slide_4 {
   background-image:url("samsungbanner1.jpg");
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}
@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(2),
   #slide2:checked ~ #controls label:nth-last-child(3),
   #slide3:checked ~ #controls label:nth-last-child(4),
   #slide4:checked ~ #controls label:nth-last-child(1) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}



//*FOOTER*//
*<@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.content1{
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}
.content1 .text{
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}
.content1 .p{
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}
footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #111;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  width: 100%;
  background: #1a1a1a;
}
.box .content:after{
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}
.left .content p{
  text-align: justify;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #f12020;
}
.center .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.center .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}
.right form .text{
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}
.right form .msg{
  margin-top: 10px;
}
.right form input, .right form .msgForm{
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}
.right form input:focus,
.right form .msgForm:focus{
  outline-color: #3498db;
}
.right form input{
  height: 35px;
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.right form .btn button:hover{
  background: #000;
}
.bottom center{
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}
.bottom center span{
  color: #656565;
}
.bottom center a{
  color: #f12020;
  text-decoration: none;
}
.bottom center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}







